* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0px;

  background-color: rgb(234, 237, 237);
}

.outer {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0px;

  padding: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main {
  width: 70vw;
  height: 90vh;

  margin-left: 300px;
  margin-top: 10px;
  padding: 20px;
  overflow: hidden;
  position: absolute;

  line-height: 20px;

 
  transition: 2s;
  box-shadow: 5px 5px 5px 5px rgba(68, 68, 68, 0.6);

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  scroll-snap-align: start;

  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;

  justify-content: center;
  background-color: white;
}

.main,
p {
  margin-top: 20px;
  padding-left: 50px;

  padding-bottom: 0px;
  padding-top: 0px;
}

.slides {
  padding-top: 40px;
  padding-left: 50px;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
#slidesA {
  width: 55vw;
  line-height: 2;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
}

.edspan {
  color: gray;
}

.iconSkill {
  font-size: medium;
  padding-bottom: 30px;
}

.leftitems {
  width: 260px;
  position: fixed;
  align-items: center;
  background-color: #005fb2;
  color: white;

  min-height: 100vh;
  padding-left: 15px;
}

.sidemenu {
  display: block;
  line-height: 45px;
  padding: 0px;
  margin: 30px;
  margin-top: 0px;
}

.sidemenu a:hover {
  color: black;
  cursor: pointer;
}

#wifm {
  display: none;
}
#pro {
  display: none;
}

#pro:checked + #wifm {
  display: block;
}

.lbl {
  cursor: pointer;
  display: none;
  margin-top: 0px;

  line-height: 0px;
  font-size: small;

  width: 0px;
  margin-bottom: 0px;
  margin-left: 30px;
  padding: 10px;
}

#toggle {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;

  line-height: 0px;
  font-size: small;

  margin-left: 40px;
  width: 10px;
}

.icon {
  display: grid;
  grid-template-columns: 1fr 12fr;
  margin-top: 0px;

  list-style: none;

  padding-left: 10px;
  cursor: pointer;
}

.icon i {
  width: 0px;

  padding-top: 0px;
  font-size: xx-large;
  margin-left: 10px;
  color: #005fb2;
}
.lficon {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.lficon i {
  width: 0px;

  padding-top: 40px;
  line-height: 10px;
  font-size: xx-large;
  padding-left: 30px;
  color: white;
}

.lficon :hover {
  cursor: pointer;
  color: black;
}

a {
  font-size: 25px;

  text-decoration: none;

  color: white;
}

li :hover {
  cursor: pointer;
  color: black;
}

.leftitems img {
  border: 5px solid white;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 80px;
  padding-bottom: 0px;
  padding-bottom: 0px;
}
.leftitems span {
  color: black;
}
.leftitems h1 {
  padding-bottom: 0px;
  font-size: 19px;
  line-height: 10px;
  margin-left: 10px;
  padding: 20px 0px 0px 0px;
  color: white;
  margin-bottom: 20px;
}
.exp {
  font-size: 12px;
  padding-top: 0px;
  margin-top: 0px;
}

a {
  font-size: 25px;

  text-decoration: none;

  color: white;
}

li :hover {
  cursor: pointer;
  color: black;
}

#labout {
  padding-left: 45px;
}
#lskill {
  padding-left: 49px;
}

#lproject {
  padding-left: 39px;
}
#lexperience {
  padding-left: 30px;
}
#leducation {
  padding-left: 30px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 50px;
  line-height: 40px;
  padding-top: 50px;
  margin-bottom: 10px;
}
span,
#spanH1 {
  color: #005fb2;
  padding-right: 55px;
}

h2 {
  color: #005fb2;
  text-align: left;
  line-height: 40px;
  padding-left: 0px;
  padding-top: 30px;
  margin-bottom: 20px;
  margin-bottom: 10px;
}
h3 {
  color: black;
  text-align: left;
  font-size: 15px;
  line-height: 0px;
  margin-bottom: 15px;
}
h4 {
  color: black;
  text-align: left;
  line-height: 10px;
  font-size: 13px;
  padding-bottom: 25px;
}

#spanEx {
  float: right;
}

#paraP {
 margin-left: 40px;
  margin-top: 20px;
  align-items: center;
}
#paraE{
  width: 70%;
}

/* .wifrContainer {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  margin-left: 0px;
  margin-right: 0px;

  justify-content: center;
  height: 100vh;

  min-width: 100vw;

  overflow: hidden;
  position: absolute;
  align-items: center;

  transform: scale(1);
  transition: transform 0.5s;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  transform-origin: center center;
} */

.wifrContainer img {
  width: 188px;
  height: 160px;
  margin-top: 20px;
}

.wifrContainer .wireframe {
  height: 460px;

  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

  width: 188px;

  border-radius: 35px;
  border: 1px solid #005fb2;
  background-color: white;

  align-items: center;

  margin-left: 160px;
}
.wifrContainer{
  margin-top: 20px;
  padding-top: 50px;
}

.next {
  margin-left: 100px;
  cursor: pointer;
  color: white;
}

.paraFlashandMenu {
  text-align: center;
  color: #005fb2;
  font-size: 20px;
}
.paraTodo {
  text-align: center;
  color: #005fb2;
  font-size: 20px;
}
.paraGrocery {
  text-align: center;
  color: #005fb2;
  font-size: 20px;
}
.wireframe,
p {
  font-size: 10px;
  line-height: 15px;
  height: 10px;
  width: 110px;
}

.wireframe .appicon {
  width: 188px;
  height: 47px;
  padding-top: 0px;

  margin-left: 0px;
  margin-top: 170px;
  margin-bottom: 0px;
  background-color: #005fb2;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.appicon i {
  font-size: small;
  display: inline;
  padding-left: 10px;
  padding-top: 10px;
}

.iconSkill,
i {
  width: 700px;
}
.pic {
  text-decoration: none !important;
}

@media only screen and (max-width: 900px) {
  .outer {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0px;
position: fixed;
    padding: 0px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  .iconSkill {
    font-size: 8px;
  }
  .main {
    width: 100vw;
    height: 80vh;

    margin-top: 300px;

    overflow: hidden;
    position: absolute;

    color: gray;
    /* line-height: 15px; */

    margin-top: 0px;
    transition: 2s;
    /* box-shadow:5px 5px 5px 5px  rgba(68, 68, 68, 0.6); */

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    scroll-snap-align: start;

    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;

    justify-content: center;
    background-color: white;
  }
  #slidesA {
    width: 80vw;
    height: 100vh;
    line-height: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .slides {
    padding-top: 0px;
    align-items: center;

    justify-content: center;
  }
  span,
  #spanH1 {
    padding-right: 0px;
  }

  .wireframe .appicon {
    width: 120px;
    height: 27px;
    padding-top: 0px;

    margin-left: 0px;
    margin-top: 45px;
    margin-bottom: 0px;
    background-color: #005fb2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .appicon i {
    font-size: small;
    display: inline;

    padding: 0px;
  }

  .wireframe img {
    width: 120px;
    height: 60px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
  }
  #paraP,
  h2 {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 15px;
  }

  #paraP,
  button {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .paraFlashandMenu {
    text-align: center;
    color: #005fb2;
    font-size: 10px;
  }
  .paraTodo {
    text-align: center;
    color: #005fb2;
    font-size: 10px;
  }
  .paraGrocery {
    text-align: center;
    color: #005fb2;
    font-size: 10px;
  }
  .wireframe p {
    padding-right: 5px;
    padding: 10px;
    margin-top: 6px;
    font-size: 8px;
    line-height: 8px;
    height: 25px;
    width: 100px;
  }
  .wifrContainer .wireframe {
    height: 238px;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    width: 105px;
    border-radius: 25px;
    padding-right: 15px;
    border: 1px solid #005fb2;
    margin: 10px;
  }
  .wifrContainer {
    display: grid;
    width: 70vw;
   
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;
  }



  .leftitems {
    width: 100vw;
    min-height: 20vh;
   

    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
  }

  .sidemenu {
   
    line-height: 20px;
 
 
    display: none;
    margin-top: 0px;
margin-left: 190px;
    padding-left: 10px;
    width: 10px;
    
  }
  #paraP{
    margin-top: 100px;
  }

 
  .sidemenu a {
    width: 200px;

    display: block;
    align-items: center;

    font-size: 10px;

    margin: 0px 0px 0px 0px;
  

    padding: 0px 0px 0px 0px;

    margin-left: 0px;
    
  }

  .lficon i {
    width: 0px;

    padding-top: 0px;
    line-height: 0px;
    font-size: small;
    padding-left: 0px;
    color: white;
  }
  .lficon {
    display: flex;
    /* grid-template-columns: 1fr 2fr; */
    color: white;
  }
  
  .lficon i {
  margin-top: 10px;
   margin-right: 55px;
    line-height: 10px;
   
    padding-left: 0px;
    color: white;
  }
 
  #toggle:checked + .sidemenu {
    display: block;
  }

  .lbl {
    display: block;
    cursor: pointer;
    font-size: xx-large;

    margin-left: 0px;
   
    margin-bottom: 0px;
  }

 
.slides {
  padding-left: 20px;
  font-size: 10px;
  line-height: 10px;
  margin-top: 40px;
 width: 80%;
 
 
}
  .slides,
  p,
  h2,
  h3,
  h4 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 12px;
  }

  .leftitems img {
    width: 0px;
    height: 0px;
    display: none;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 50px;
  }
  .leftitems h1 {
    font-size: 0px;
    display: none;
    margin-left: 0px;
    padding-left: 0px;
    line-height: 10px;
    margin-top: 0px;
    padding-top: 0px;
    padding: 0px;
    margin-right: 0px;
  }

  .name {
    margin-top: 80px;
    margin-left: 20px;
  }

  .main {
    margin-left: 0px;

    position: absolute;
    margin-top: 140px;
    margin-bottom: 10px;

    height: 300px;
    width: 300px;

    min-width: 95vw;

    min-height: 80vh;
  }

  a {
    font-size: 15px;

    padding: 8px;
  }
  .icon {
    grid-template-columns: 1fr 4fr;
  }

  .iconSkill,
  i {
    width: 220px;
    padding-bottom: 10px;
  }

  h1 {
    padding-top: 30px;
    font-size: 20px;
  }
  h2 {
    font-size: 10px;
    margin-bottom: 0px;
  }
  h3 {
    font-size: 8px;
  }
  h4 {
    font-size: 8px;
  }
}
