/* .outer {
    border: 5px dotted rgb(214,129,137);
    border-radius: 5px;
    width: 1050px;
    height: 1050px;
    padding: 10px;
    margin-bottom: 40px;
    
  }

  .float {
    
    padding: 10px;
    border: 5px solid rgba(214,129,137,.4);
    border-radius: 5px;
    background-color: rgba(233,78,119,.4);
    color: #fff;
    float: left;  
    width: 200px;
    height: 1000px;
    margin: 0px 20px 0 0;
  }

 */
body {
  margin: 0px;
}
.float img {
  border: 10px solid rgba(233, 78, 119, 0.3);
  border-radius: 50%;
  margin-left: 80px;
  margin-top: 80px;
  margin-bottom: 0px;
}
.float .list {
  margin-top: 0px;
  /* padding-top: 0px; */
}
.outer {
  /* border: 5px solid rgb(214,129,137); */
  /* border-radius: 5px; */
  min-width: 100vh;
  min-height: 100vh;
  padding-left: 0px;
}
.main {
  margin-right: 40px;
  /* margin-left: 40px; */
  position: relative;
  float: right;
  padding:80px ;
  min-width: 70vh;
  /* margin: 0px 0px 0 0px; */
}

.float {
  position: fixed;
  margin-left: 0px;
  margin-top: 50px;
  padding: 10px;
  /* border: 5px solid rgba(214,129,137,.4); */
  border-radius: 0px;
  /* background-color: rgba(233,78,119,.4); */
  background-color: rgba(214, 129, 137);
  color: #fff;
  float: left;
  /* width: 300px; */
  min-width: 40vh;
  height: 1650px;
  margin: 0px 0px 0 0px;
}
h1 {
  color: rgba(214, 129, 137);
  text-align: center;
  /* float: right; */
}
h2 {
  color: rgba(214, 129, 137);
  text-align: center;
  /* float: right; */
}
h3 {
  color: rgba(214, 129, 137);
  text-align: center;
  /* line-height: 10px; */
  /* float: right; */
}
h4 {
  color: black;
  text-align: left;
  /* line-height: 10px; */
  /* float: right; */
}

li {
  margin-top: 10px;
  line-height: 25px;
  /* margin-bottom: 50px; */
  list-style: none;
  font-size: 30px;
  padding-left: 80px;
  color: white;
}
.main,
p {
  color: gray;
  line-height: 25px;
  width: 600px;
}
span {
  float: right;
  color: rgba(214, 129, 137);
}
.labout {
  padding-left: 100px;
}
.lskill {
  padding-left: 100px;
}
a {
  text-decoration: none;
  color: white;
}
